@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{ ViewData["Title"] = "Walker Profile"; }
<div class="bg-primary">
    <h1 class="mb-4">Walker Profile</h1>

    <section class="container">
        <div>
            <label class="font-weight-bold">Name:</label>
            <span>@Model.Walker.Name</span>
        </div> 
        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>
    <hr class="mt-5" />
    <div class="clearfix"></div>
    <div class="row">
        <section class="col-lg-4 col-md-8 container mt-5">
            <h1 class="text-left">Recent Walks</h1>
            <table class="table">
                <thead class="table-info">
                    <tr>
                        <th>Date</th>
                        <th>Client</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Walks)
                    {
                        <tr class="alert-secondary">
                            <td>@item.Date</td>
                            <td>@item.Dog.Owner.Name</td>
                            <td>@item.Duration</td>
                        </tr>
                    }
                </tbody>
            </table>
</div>
        </section>

        <section class="col-lg-4 col-md-8 container mt-5">
            <h1>Total Walk Time</h1>

            <ul class="list-group mt-4">
                @foreach (Walks walks in Model.Walks)
                {
                    <li class="list-group-item disabled" aria-disabled="true">
                        
                        <span class="font-weight-bold ml-4">@walks.Duration</span>
                    </li>
                }
            </ul>
        </section>
    </div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Walker.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
